<div class='wrap'>
  <div class='index-title'>
    今までにシェアされた映画
    <small>計<%= @count %>個</small>
  </div>

  <%= render partial: 'posts', locals: { posts: @posts } %>

  <div>
    <%= paginate @posts, window: 2 %>
  </div>

  <div class='see-more'>
    <%= link_to root_path, style:'color: #2C3133;' do %>
      <u><i class="fa fa-arrow-left fa-fw"></i>トップページへ戻る</u>
    <% end %>
  </div>
</div>
